<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='styles/globals.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='styles/login.css') }}">

    <link rel="icon" href="{{ url_for('static', path='icons/unifeso-black.ico') }}" type="image/x-icon">
    <script src="{{ url_for('static', path='js/auth.js') }}"></script>
    <script>
      checkToken();
    </script>
</head>

<body>

    
    <div class="login">
        <form id="loginForm">
            <img src="{{ url_for('static', path='images/unifeso.png') }}" title="Unifeso">
            <h1>Login</h1>
            <p>Faça o login na sua conta.</p>
            <label for="chk" aria-hidden="true">Login</label>
            <input type="text" id="username" name="username" placeholder="Usuário" required>
            <input type="password" id="password" name="password" placeholder="Senha" required>
            <button type="submit" id="btnSubmit" onsubmit="return false;">Login</button>
            <p class="resetPswd">Esqueceu a senha? <a href="#">Clique aqui para resetar</a>.</p>
            <button class="registerBtn" type="button" onclick="location.href = '/register';">Registrar</button>
        </form>
    </div>

    <script>
        async function handleLoginForm() {        
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;
            
            if (username === '' || password === '') {
              alert('Username and password are required fields.');
              return
            }
            
            const response = await login(username, password);
            const data = await response.json()
    
            if (response.ok) {
              const accessToken = data.access_token;
              localStorage.setItem('accessToken', accessToken);
              window.location.href = '/home';
              return
            }
    
            alert(data.detail)
          }
          
        const form = document.getElementById('loginForm')
        form.addEventListener('submit', e => {
            e.preventDefault()
            handleLoginForm()
        })
    </script>
</body>

</html>