<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>

    <link rel="stylesheet" href="{{ url_for('static', path='styles/globals.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='styles/register.css') }}">

    <link rel="icon" href="{{ url_for('static', path='icons/unifeso-black.ico') }}" type="image/x-icon">
    <script src="{{ url_for('static', path='js/auth.js') }}"></script>
    <script>
      checkToken();
    </script>
</head>

<body>
    <div class="signup">
        <form>
            <img src="{{ url_for('static', path='images/unifeso.png') }}" title="Unifeso">
            <h1>Registro</h1>
            <p>Já tem conta? Você pode <a href="login.html">logar aqui</a>.</p>
            <input type="email" id="email" name="email" placeholder="Email" required="required" title="Coloque o seu email">
            <input type="password" id="password" name="pswd" placeholder="Senha" required="required" title="Coloque uma senha">
            <input type="password" id="passwordConfirm" name="pswdConfirm" placeholder="Confirmar Senha" required="required" title="Confirme a sua senha">
            <button type="submit" id="btnSubmit">Confirmar</button>
        </form>
    </div>
</body>
</html>