*{
    font-family: 'Roboto', sans-serif;
}

.header {
    top: 0;
    width: 100%;
    height: 75px;
    z-index: 9999;
    min-height: 77px;
    max-height: 90px;
    border-radius: 0;
    display: flex;
    position: fixed;
    align-items: center;
    background: white;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

.logo {
    top: 5%;
    left: 5%;
    position: absolute;
}

.logo img {
    width: 80px;
}

.menu-buttons{
    justify-content: space-between;
}

.links {
    right: 5%;
    margin-top: 1%;
    display: flex;
    position: absolute;
    list-style-type: none;
}

.links a, .links button {
    color: #000000;
    padding: 10px 17px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
}

.links button{
    color: #ffffff;
    border-radius: 5%;
    border: 1px solid rgba(27, 27, 27, 0.8);
    background-color: rgba(0, 0, 0, 0.8);
}

.links a:hover {
    background-color: rgb(212, 212, 212);
}

.links button:hover{
    background-color: rgba(29, 29, 29, 0.8);
    border-color: rgba(29, 29, 29, 0.8);
}