.header {
    position: fixed;
    top: 0;

    height: 75px;
    min-height: 77px;
    max-height: 90px;
    width: 100%;
    z-index: 9999;

    background: white;


    border-radius: 0;
    border-bottom: 1px solid #ccc;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    user-select: none;
    -webkit-user-drag: none;
}

.logo {
    caret-color: transparent;
    padding-left: 3vh;
}

.logo img {
    width: 80px;
}

.menu-buttons {
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 8px;
    list-style-type: none;

    padding-right: 5vh;
}

.links a, .links button {
    color: #000000;
    padding: 10px 17px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
}

.links button{
    color: #ffffff;
    border-radius: 10%;
    border: 1px solid rgba(27, 27, 27, 0.8);
    background-color: rgba(0, 0, 0, 0.8);
}

.links a:hover {
    border-radius: 6%;
    background-color: rgb(212, 212, 212);
}

.links button:hover{
    background-color: rgba(29, 29, 29, 0.8);
    border-color: rgba(29, 29, 29, 0.8);
}