@import 'header.css';

body, html{
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.outline {
    top: 40px;
    padding: 20px;
    width: 1200px;
    height: 800px;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.textContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.textContainer h1{
    font-size: 42px;
    margin-bottom: 0;
}

.inner-outline {
    border: 2px solid white;
    border-radius: 5px;
    padding: 20px;
}

.dragzone {
    cursor: pointer;
    z-index: 10;
    padding: 40px;
    width: 70%;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
    border-radius: 20px;
    box-sizing: border-box;
    border: 3px dashed #ccc;
    transition: background-color 0.3s;
}

.drag-over {
    border: dashed 3px red;
}

.dragzone h1{
    padding-top: 20px;
    font-size: 24px;
    color: black;
}

.dragzone p{
    padding-top: 20px;
    color: gray;
}

.dragzone ion-icon {
    color: gray;
    font-size: 90px;
    margin-bottom: 10px;
}

.dragzone input[type="file"] {
    display: none;
}

.buttons {
    display: flex;
    align-items: center;
}

.buttons button {
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #007bff;
    transition: background-color 0.3s;
}

.buttons button:hover {
    background-color: #0056b3;
}

.buttons-area {
    display: flex;
    margin-top: 80px;
    position: relative;
    align-items: center;
    flex-direction: column;
}

.buttons-area .separator {
    height: 2px;
    width: 100%;
    background-color: #ccc;
}

.buttons {
    display: flex;
    padding-top: 20px;
}

.buttons button {
    border: none;
    margin: 20px 5px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #007bff;
}