<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../Static/login.css">
    <link rel="icon" href="../static/other/unifeso.ico" type="image/x-icon">
</head>
<body>
    <div class="login">
        <form>
            <img src="../Static/other/unifeso.png" title="Unifeso">
            <h1>Login</h1>
            <p>Faça o login na sua conta.</p>
            <label for="chk" aria-hidden="true">Login</label>
            <input type="email" id="email" name="email" placeholder="Email" required title="Coloque seu endereço de email">
            <input type="password" id="password" name="pswd" placeholder="Senha" required title="Coloque a sua senha">
            <button type="submit" id="btnSubmit">Login</button>
            <p class="resetPswd">Esqueceu a senha? <a href="#">Clique aqui para resetar</a>.</p>
            <button class="registerBtn" type="button" onclick="location.href = 'registro.html';">Registrar</button>
        </form>
    </div>
</body>
</html>