<!DOCTYPE html>
<html lang="en">
<head> 
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Enviar Tabela - Proteger Teresópolis</title>
  
  <link rel="stylesheet" href="{{ url_for('static', path='styles/globals.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', path='styles/upload.css') }}"/>

  <link rel="icon" href="{{ url_for('static', path='icons/unifeso-black.ico') }}" type="image/x-icon">

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script> 
  
  <script src="{{ url_for('static', path='js/user.js') }}"></script>
  <script>
    fetchUser();
  </script>
</head>

<body>
  <script>
    function dragOverHandler(event) {
      event.preventDefault();
      event.dataTransfer.dropEffect = 'copy';
      event.target.classList.add('drag-over');

      fileValidation();
    }

    function triggerFileInput() {
      document.getElementById('file').click();
    }

    function fileValidation() {
      var fileInput = document.getElementById('file');
      var filePath = fileInput.value;
      var allowedExtensions = /(\.xlsx)$/i;
          
      if (!allowedExtensions.exec(filePath)) {
        alert('São aceitos apenas arquivos de planilhas. (.xlsx)');
        fileInput.value = '';
        return false;
      }            
    }
  </script>
  
    {% include 'header.html' %}

    <div class="outline">
        <form method="post" enctype="multipart/form-data" id="save-sheet-form">
            <div class="textContainer">
                <h1>Enviar Arquivo</h1>
            </div>
            
            <div class="dragzone" draggable="false" onclick="triggerFileInput()" ondragover="dragOverHandler()">
              <ion-icon name="cloud-upload-outline"></ion-icon>
              <h1>Selecione um arquivo ou arraste e solte aqui.</h1>
              <p class="acceptedFiles">Arquivos aceitos: .xlsx</p>
              <input type="file" name="file" id="file" class="form-control" required="true" onchange="return fileValidation()" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>
            </div>
        </form>
    </div>
</body>

</html>