<!DOCTYPE html>
<html lang="en">
<head> 
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Enviar Tabela - Proteger Teresópolis</title>
  <link rel="stylesheet" href="../Static/uploadStyle.css"/>

<!-- Paulo Start -->
  <script>
    function fileValidation() {
        var fileInput =
            document.getElementById('file');
            
        var filePath = fileInput.value;
        
        var allowedExtensions =
                /(\.xlsx)$/i;
            
        if (!allowedExtensions.exec(filePath)) {
            alert('São aceitos apenas arquivos de planilhas. (.xlsx)');
            fileInput.value = '';
            return false;
        }            
    }
  </script>
</head>

<body>
  <div>
      <h1 class="textContainer">Enviar tabela Excel</h1>
    <div class="container">
      <div class="drop-zone" id="drop-zone">
        <form method="post" enctype="multipart/form-data" id="save-sheet-form">
          <div class="form-control">
            <p>
              Arraste e solte a tabela e solte aqui ou 
            </p>
          </div>
          <span>
            <label for="file" class="file-label">
              <input type="file" id="file" name="file" class="file-input" required="true" onchange="return fileValidation()" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">  
              procure no sistema.
            </label>
          </span>
        </div>
      </form>
    </div>
    <div>
      <div class="uploadedDashboards">
        <p>Arquivos Enviados</p>
      </div>
    </div>
  </div>
<!-- END Paulo -->


<!-- Matheus Start -->
<div class="header">
  <div class="clickables">
    <div class="logo">
      <img src="../Static/other/unifeso.png" alt="Unifeso">
    </div>
    <nav class="links">
      <link class="home">
        <a href="home.html">
          Dashboard
        </a>
      </link>
      <link class="upload">
        <a href="upload.html">
          Enviar Tabela
        </a>
      </link>
      <button class="logout">
        Sair
      </button>
    </nav>  
  </div>

    </div>
    <script
        type="module"
        src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
      ></script>
      <script
        nomodule
        src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
      ></script>
</body>
</html>
<!-- END Matheus -->